extends layout

block content
  .loading 
    div
  .main.left_hide
    .left
      div
        ul.menu
      div.version= "v0.1_"+htmlWebpackPlugin.options.date
    .right
      div.location.hide
        a.newer
          button newer
        a.older
          button older
      div.write
      div.post
        h1.title(data-fixture data-name="title")
        .data(data-editable data-name="data")
      .footer
  .menu_icon
    div.new_post.hide(title="New Post") 
      i.file.outline.icon
    div
      i.terminal.icon(title="Menu")
  script(src="/js/blog.js")
