extends layout

block content
  .loading 
    div
  .main.left_hide
    .left
      div
        ul.menu
      div.version v0.1_2017-07-03
    .right
      div.write
      div.post
        h1.title(data-fixture data-name="title")
        .data(data-editable data-name="data")
  .menu_icon
    div
      i.terminal.icon
    div.new_post.hide new
  script(src="/js/blog.js")
