extends layout

block content
  .main
    .left.fl
      div
        ul.menu
          li 
            a: label menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1menu1
          li
            label menu2


    .right.fl
  script(src="js/blog.js")
  //-   include ../webpack/firebase.js
