extends layout

block content
  .loading.hide 
    div
  .main
    .left.fl
      div
        ul.menu
    .right.fr
      div.write
      div.post
        .title(data-fixture data-name="article-title")
        .data
  script(src="/js/blog.js")
