doctype html
html
  head
    meta(name="viewport" content="width=device-width,  initial-scale=1")
    meta(name="google-site-verification" content="_A-g3AbUhbfZyyIrlqEjHm8QlprCgfZXnM9ZiAAGshk")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    link( rel="stylesheet" href="/contentTools/content-tools.min.css")
    link( rel="stylesheet" href="/contentTools/custom-css.css")
    script(src="/contentTools/content-tools.min.js")
    link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js" crossorigin="anonymous")
    script(src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js" )
    script.
      var config = {
        apiKey: "AIzaSyBxy23E579b2PC48SQZpMbJtBsK9gsUPbs",
        authDomain: "todo-47c04.firebaseapp.com",
        databaseURL: "https://todo-47c04.firebaseio.com",
        projectId: "todo-47c04",
        storageBucket: "todo-47c04.appspot.com",
        messagingSenderId: "112475226816"
      };
      firebase.initializeApp(config);
    title(data-name="닥츄블로그") 닥츄블로그
  body
    block content
