body {
  margin: 0px;
}

html {
  height: 100%;
}

.hide {
  display: none !important;
}

.left {
  z-index: 1;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: fixed;
  height: inherit;
  background-color: red;
  width: 300px;
  left: 0px;
  background: darkgray;
}

.right {
  height: inherit;
  /*background-color: green;*/
  max-width: 920px;
  margin: 0 auto;
}

.main {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.main.left_hide .left {
  left: -300px;
  /*display: none;*/
}

ul.menu {
  list-style-type: none;
  padding: 0;
  width: 100%;
  text-align: center;
}

ul.menu li {
  width: 100%;
}

ul.menu a {
  width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

ul.menu a:hover {
  background-color: gray;
}

div.loading {
  position: absolute;
  width: 100%;
  z-index: 9999999;
  text-align: center;
  height: 100%;
  line-height: 320pt;
  background-color: black;
  opacity: 0.4;
  color: white;
}

div.loading>div::after {
  content: "Loading";
  animation: changeLetter 3s linear infinite alternate;
  /*content:"loading";*/
}

@keyframes changeLetter {
  0% {
    font-size: 10pt;
  }
  50% {
    font-size: 15pt;
  }
  100% {
    font-size: 20pt;
  }
}

.menu_icon {
  position: fixed;
  display: block;
  bottom: 0;
  z-index: 1;
}

.menu_icon>div {
  bottom: 50px;
  width: 48px;
  height: 48px;
  background: gray;
  border-radius: 30%;
  left: 10px;
  position: absolute;
  display: block;
  text-align: center;
}

.menu_icon>div>i {
  line-height: 48px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.menu_icon>div.new_post {
  background-color: indianred;
  bottom: 100px;
  line-height: 48px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}


@media (max-width: 1000px) {
  .menu_icon>div {
    width: 80px;
    height: 80px;
  }
  .menu_icon>div>i {
    line-height: 80px;
    font-size: 35pt;
  }
  .menu_icon>div.new_post {
    bottom: 135px;
    line-height: 80px;
    font-size: 35px;
    color: white;
    text-align: center;
    cursor: pointer;
  }
}

.menu_icon>div.new_post:hover {
  color: black;
}

.menu_icon>div>i:hover {
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.left .version {
  bottom: 0px;
  position: fixed;
}

.footer{
  height: 300px;
}
