body {
  margin: 0px;
}

.hide {
  display: none !important;
}

div.small {
  position: relative;
  width: 100%;
  height: 450px;
  margin-bottom: 10px;
  display: inline-block;
}

div.ab_button {
  position: absolute;
}

iframe {
  width: 100%;
  height: inherit;
}

div.full {
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
  width: 100%;
  height: 100%;
}

iframe {
  border-width: 0px;
}
