body {
  margin: 0px;
}

html {
  height: 100%;
}

.hide {
  display: none !important;
}

.left {
  height: inherit;
  /*background-color: red;*/
  width: 300px;
}

.right {
  height: inherit;
  /*background-color: green;*/
  width: calc(100% - 300px);
}

.main {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

ul.menu {
  list-style-type: none;
  padding:0;
  /*text-overflow: ellipsis; */
  width:100%;
  text-align: center;
}
ul.menu li{
  width:100%;
}
ul.menu a{
  width:inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
